USE [master]
GO
/****** Object:  Database [DigitalHomeAffairs]    Script Date: 2026/02/13 15:57:30 ******/
CREATE DATABASE [DigitalHomeAffairs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalHomeAffairs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS05\MSSQL\DATA\DigitalHomeAffairs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DigitalHomeAffairs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS05\MSSQL\DATA\DigitalHomeAffairs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalHomeAffairs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalHomeAffairs]
GO
/****** Object:  Table [dbo].[AdminAuditLog]    Script Date: 2026/02/13 15:57:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAuditLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AdminId] [int] NOT NULL,
	[ActionType] [nvarchar](30) NOT NULL,
	[ApplicationId] [int] NULL,
	[TaskId] [int] NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminNotifications]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminNotifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminId] [int] NOT NULL,
	[ApplicationId] [int] NULL,
	[TaskId] [int] NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](10) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ReadAt] [datetime2](7) NULL,
	[ActionUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[Department] [nvarchar](50) NULL,
	[CanApprove] [bit] NULL,
	[CanProcess] [bit] NULL,
	[CanDelete] [bit] NULL,
	[MaxDailyApplications] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[LastLogin] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[PasswordExpired] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminSessions]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminId] [int] NOT NULL,
	[SessionToken] [nvarchar](255) NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[DeviceInfo] [nvarchar](max) NULL,
	[LoginTime] [datetime2](7) NULL,
	[LastActivity] [datetime2](7) NULL,
	[LogoutTime] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminWorkload]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminWorkload](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[ApplicationsAssigned] [int] NULL,
	[ApplicationsCompleted] [int] NULL,
	[TasksAssigned] [int] NULL,
	[TasksCompleted] [int] NULL,
	[AverageProcessingTime] [int] NULL,
	[OvertimeMinutes] [int] NULL,
	[BreakTimeMinutes] [int] NULL,
	[EfficiencyScore] [decimal](5, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AdminDate] UNIQUE NONCLUSTERED 
(
	[AdminId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationAssignments]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[AssignedTo] [int] NOT NULL,
	[AssignedBy] [int] NOT NULL,
	[AssignmentReason] [nvarchar](255) NULL,
	[AssignedAt] [datetime2](7) NULL,
	[UnassignedAt] [datetime2](7) NULL,
	[UnassignedBy] [int] NULL,
	[UnassignedReason] [nvarchar](255) NULL,
	[TasksCompleted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationQueue]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationQueue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[DocumentTypeId] [int] NOT NULL,
	[Priority] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[QueuedAt] [datetime2](7) NULL,
	[AssignedAt] [datetime2](7) NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[RequiredSkillLevel] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_QueuedApplication] UNIQUE NONCLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationNumber] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[DocumentTypeId] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[SubmissionDate] [datetime2](7) NULL,
	[ProcessingStartedDate] [datetime2](7) NULL,
	[CompletedDate] [datetime2](7) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[CurrentProcessorId] [int] NULL,
	[IsUrgent] [bit] NULL,
	[PriorityLevel] [int] NULL,
	[LockVersion] [int] NULL,
	[LockedUntil] [datetime2](7) NULL,
	[LockToken] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ApplicationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationStatusHistory]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationStatusHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[StatusFrom] [nvarchar](50) NULL,
	[StatusTo] [nvarchar](50) NOT NULL,
	[ChangedBy] [int] NULL,
	[ChangedByType] [nvarchar](10) NOT NULL,
	[TaskId] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationTasks]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[TaskType] [nvarchar](30) NOT NULL,
	[AssignedTo] [int] NULL,
	[AssignedBy] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[DueDate] [date] NULL,
	[CompletedAt] [datetime2](7) NULL,
	[LockVersion] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTemplates]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentTypeId] [int] NOT NULL,
	[TemplateName] [nvarchar](100) NOT NULL,
	[TemplateContent] [nvarchar](max) NOT NULL,
	[Version] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypes]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProcessingFee] [decimal](10, 2) NULL,
	[EstimatedProcessingDays] [int] NULL,
	[Requirements] [nvarchar](max) NULL,
	[RequiresApproval] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[HolidayName] [nvarchar](100) NOT NULL,
	[IsRecurring] [bit] NULL,
	[Year] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ApplicationId] [int] NULL,
	[Type] [nvarchar](10) NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[Priority] [nvarchar](10) NULL,
	[SentAt] [datetime2](7) NULL,
	[ReadAt] [datetime2](7) NULL,
	[DeliveredAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[TransactionId] [nvarchar](100) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[VerifiedBy] [int] NULL,
	[PaymentDate] [datetime2](7) NULL,
	[ReceiptNumber] [nvarchar](50) NULL,
	[PaymentDetails] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLATracking]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLATracking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentTypeId] [int] NOT NULL,
	[ApplicationId] [int] NULL,
	[SLADeadline] [datetime2](7) NOT NULL,
	[BreachedAt] [datetime2](7) NULL,
	[BreachReason] [nvarchar](255) NULL,
	[EscalatedTo] [int] NULL,
	[EscalatedAt] [datetime2](7) NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportingDocuments]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportingDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[DocumentName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NULL,
	[FileSize] [int] NULL,
	[UploadedAt] [datetime2](7) NULL,
	[VerificationStatus] [nvarchar](20) NULL,
	[VerifiedBy] [int] NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[VerifiedByTaskId] [int] NULL,
	[DocumentHash] [nvarchar](255) NULL,
	[IsConfidential] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
	[SettingType] [nvarchar](10) NULL,
	[Description] [nvarchar](max) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivityLog]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivityLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ActionType] [nvarchar](30) NOT NULL,
	[ApplicationId] [int] NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[LastLogin] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SessionToken] [nvarchar](255) NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[DeviceInfo] [nvarchar](max) NULL,
	[LoginTime] [datetime2](7) NULL,
	[LastActivity] [datetime2](7) NULL,
	[LogoutTime] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminAuditLog_Action]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminAuditLog_Action] ON [dbo].[AdminAuditLog]
(
	[ActionType] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdminAuditLog_Admin]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminAuditLog_Admin] ON [dbo].[AdminAuditLog]
(
	[AdminId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdminAuditLog_App]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminAuditLog_App] ON [dbo].[AdminAuditLog]
(
	[ApplicationId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminNotifications_Admin]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminNotifications_Admin] ON [dbo].[AdminNotifications]
(
	[AdminId] ASC,
	[IsRead] ASC,
	[Priority] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_Email]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Admins_Email] ON [dbo].[Admins]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_EmployeeId]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Admins_EmployeeId] ON [dbo].[Admins]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_Role]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Admins_Role] ON [dbo].[Admins]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdminSessions_Admin]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminSessions_Admin] ON [dbo].[AdminSessions]
(
	[AdminId] ASC,
	[IsActive] ASC,
	[LastActivity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminSessions_Token]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminSessions_Token] ON [dbo].[AdminSessions]
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdminWorkload_Admin]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminWorkload_Admin] ON [dbo].[AdminWorkload]
(
	[AdminId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdminWorkload_Date]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminWorkload_Date] ON [dbo].[AdminWorkload]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationAssignments_Active]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationAssignments_Active] ON [dbo].[ApplicationAssignments]
(
	[ApplicationId] ASC,
	[UnassignedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationAssignments_Admin]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationAssignments_Admin] ON [dbo].[ApplicationAssignments]
(
	[AssignedTo] ASC,
	[AssignedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationAssignments_App]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationAssignments_App] ON [dbo].[ApplicationAssignments]
(
	[ApplicationId] ASC,
	[AssignedTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationQueue_Priority]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationQueue_Priority] ON [dbo].[ApplicationQueue]
(
	[Priority] ASC,
	[QueuedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationQueue_Skill]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationQueue_Skill] ON [dbo].[ApplicationQueue]
(
	[RequiredSkillLevel] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationQueue_Status]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationQueue_Status] ON [dbo].[ApplicationQueue]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Applications_ApplicationNumber]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ApplicationNumber] ON [dbo].[Applications]
(
	[ApplicationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_CurrentProcessor]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_CurrentProcessor] ON [dbo].[Applications]
(
	[CurrentProcessorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_Lock]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_Lock] ON [dbo].[Applications]
(
	[LockedUntil] ASC,
	[LockVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_Priority]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_Priority] ON [dbo].[Applications]
(
	[PriorityLevel] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Applications_ProcessorStatus]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ProcessorStatus] ON [dbo].[Applications]
(
	[CurrentProcessorId] ASC,
	[Status] ASC,
	[LockVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Applications_Status]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_Status] ON [dbo].[Applications]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_SubmissionDate]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_SubmissionDate] ON [dbo].[Applications]
(
	[SubmissionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_UserId]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Applications_UserId] ON [dbo].[Applications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppStatusHistory_App]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AppStatusHistory_App] ON [dbo].[ApplicationStatusHistory]
(
	[ApplicationId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AppStatusHistory_Status]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_AppStatusHistory_Status] ON [dbo].[ApplicationStatusHistory]
(
	[StatusTo] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationTasks_App]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationTasks_App] ON [dbo].[ApplicationTasks]
(
	[ApplicationId] ASC,
	[AssignedTo] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationTasks_Assignment]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationTasks_Assignment] ON [dbo].[ApplicationTasks]
(
	[AssignedTo] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationTasks_Status]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationTasks_Status] ON [dbo].[ApplicationTasks]
(
	[Status] ASC,
	[DueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentTemplates_Type]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_DocumentTemplates_Type] ON [dbo].[DocumentTemplates]
(
	[DocumentTypeId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DocumentTypes_Code]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_DocumentTypes_Code] ON [dbo].[DocumentTypes]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentTypes_IsActive]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_DocumentTypes_IsActive] ON [dbo].[DocumentTypes]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Holidays_Date]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Holidays_Date] ON [dbo].[Holidays]
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_App]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_App] ON [dbo].[Payments]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Receipt]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Receipt] ON [dbo].[Payments]
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[PaymentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Transaction]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Transaction] ON [dbo].[Payments]
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SLATracking_App]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_SLATracking_App] ON [dbo].[SLATracking]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SLATracking_Deadline]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_SLATracking_Deadline] ON [dbo].[SLATracking]
(
	[SLADeadline] ASC,
	[BreachedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportingDocuments_App]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_SupportingDocuments_App] ON [dbo].[SupportingDocuments]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportingDocuments_Upload]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_SupportingDocuments_Upload] ON [dbo].[SupportingDocuments]
(
	[UploadedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SupportingDocuments_Verification]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_SupportingDocuments_Verification] ON [dbo].[SupportingDocuments]
(
	[VerificationStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SystemSettings_Key]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_SystemSettings_Key] ON [dbo].[SystemSettings]
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserActivityLog_Action]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserActivityLog_Action] ON [dbo].[UserActivityLog]
(
	[ActionType] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserActivityLog_User]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserActivityLog_User] ON [dbo].[UserActivityLog]
(
	[UserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_IdNumber]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdNumber] ON [dbo].[Users]
(
	[IdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Name]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Name] ON [dbo].[Users]
(
	[FirstName] ASC,
	[LastName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserSessions_Token]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_Token] ON [dbo].[UserSessions]
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSessions_User]    Script Date: 2026/02/13 15:57:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_User] ON [dbo].[UserSessions]
(
	[UserId] ASC,
	[IsActive] ASC,
	[LastActivity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminAuditLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT ('medium') FOR [Priority]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ('document_processor') FOR [Role]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((0)) FOR [CanApprove]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [CanProcess]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((50)) FOR [MaxDailyApplications]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [PasswordExpired]
GO
ALTER TABLE [dbo].[AdminSessions] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[AdminSessions] ADD  DEFAULT (getdate()) FOR [LastActivity]
GO
ALTER TABLE [dbo].[AdminSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT ((0)) FOR [ApplicationsAssigned]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT ((0)) FOR [ApplicationsCompleted]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT ((0)) FOR [TasksAssigned]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT ((0)) FOR [TasksCompleted]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT ((0)) FOR [OvertimeMinutes]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT ((0)) FOR [BreakTimeMinutes]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminWorkload] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ApplicationAssignments] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[ApplicationAssignments] ADD  DEFAULT ((0)) FOR [TasksCompleted]
GO
ALTER TABLE [dbo].[ApplicationQueue] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[ApplicationQueue] ADD  DEFAULT ('queued') FOR [Status]
GO
ALTER TABLE [dbo].[ApplicationQueue] ADD  DEFAULT (getdate()) FOR [QueuedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ('draft') FOR [Status]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ((0)) FOR [IsUrgent]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ((0)) FOR [PriorityLevel]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ((0)) FOR [LockVersion]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ApplicationStatusHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApplicationTasks] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[ApplicationTasks] ADD  DEFAULT ((0)) FOR [LockVersion]
GO
ALTER TABLE [dbo].[ApplicationTasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApplicationTasks] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[DocumentTemplates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DocumentTemplates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DocumentTemplates] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT ((1)) FOR [RequiresApproval]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DocumentTypes] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT ((0)) FOR [IsRecurring]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('in_app') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('medium') FOR [Priority]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SLATracking] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportingDocuments] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[SupportingDocuments] ADD  DEFAULT ('pending') FOR [VerificationStatus]
GO
ALTER TABLE [dbo].[SupportingDocuments] ADD  DEFAULT ((0)) FOR [IsConfidential]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ('string') FOR [SettingType]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserActivityLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('South Africa') FOR [Country]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT (getdate()) FOR [LastActivity]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminAuditLog]  WITH CHECK ADD FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[AdminAuditLog]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[AdminAuditLog]  WITH CHECK ADD FOREIGN KEY([TaskId])
REFERENCES [dbo].[ApplicationTasks] ([Id])
GO
ALTER TABLE [dbo].[AdminNotifications]  WITH CHECK ADD FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[AdminNotifications]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[AdminNotifications]  WITH CHECK ADD FOREIGN KEY([TaskId])
REFERENCES [dbo].[ApplicationTasks] ([Id])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[AdminSessions]  WITH CHECK ADD FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[AdminWorkload]  WITH CHECK ADD FOREIGN KEY([AdminId])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[ApplicationAssignments]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[ApplicationAssignments]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[ApplicationAssignments]  WITH CHECK ADD FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[ApplicationAssignments]  WITH CHECK ADD FOREIGN KEY([UnassignedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[ApplicationQueue]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[ApplicationQueue]  WITH CHECK ADD FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[DocumentTypes] ([Id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([CurrentProcessorId])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[DocumentTypes] ([Id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ApplicationStatusHistory]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[ApplicationStatusHistory]  WITH CHECK ADD FOREIGN KEY([TaskId])
REFERENCES [dbo].[ApplicationTasks] ([Id])
GO
ALTER TABLE [dbo].[ApplicationTasks]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[ApplicationTasks]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[ApplicationTasks]  WITH CHECK ADD FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[DocumentTemplates]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[DocumentTemplates]  WITH CHECK ADD FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[DocumentTypes] ([Id])
GO
ALTER TABLE [dbo].[DocumentTemplates]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[DocumentTypes]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[DocumentTypes]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([VerifiedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[SLATracking]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[SLATracking]  WITH CHECK ADD FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[DocumentTypes] ([Id])
GO
ALTER TABLE [dbo].[SLATracking]  WITH CHECK ADD FOREIGN KEY([EscalatedTo])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[SupportingDocuments]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[SupportingDocuments]  WITH CHECK ADD FOREIGN KEY([VerifiedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[SupportingDocuments]  WITH CHECK ADD FOREIGN KEY([VerifiedByTaskId])
REFERENCES [dbo].[ApplicationTasks] ([Id])
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[UserActivityLog]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[UserActivityLog]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AdminAuditLog]  WITH CHECK ADD CHECK  (([ActionType]='update_settings' OR [ActionType]='delete' OR [ActionType]='generate_document' OR [ActionType]='download_document' OR [ActionType]='comment' OR [ActionType]='escalate' OR [ActionType]='complete_task' OR [ActionType]='create_task' OR [ActionType]='verify_document' OR [ActionType]='unassign' OR [ActionType]='assign' OR [ActionType]='reject' OR [ActionType]='approve' OR [ActionType]='view_application' OR [ActionType]='logout' OR [ActionType]='login'))
GO
ALTER TABLE [dbo].[AdminNotifications]  WITH CHECK ADD CHECK  (([Priority]='urgent' OR [Priority]='high' OR [Priority]='medium' OR [Priority]='low'))
GO
ALTER TABLE [dbo].[AdminNotifications]  WITH CHECK ADD CHECK  (([Type]='deadline_approaching' OR [Type]='approval_required' OR [Type]='system_alert' OR [Type]='application_escalated' OR [Type]='task_completed' OR [Type]='task_assigned'))
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD CHECK  (([Role]='viewer' OR [Role]='approver' OR [Role]='document_processor' OR [Role]='super_admin'))
GO
ALTER TABLE [dbo].[ApplicationQueue]  WITH CHECK ADD CHECK  (([Status]='expired' OR [Status]='escalated' OR [Status]='processing' OR [Status]='assigned' OR [Status]='queued'))
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD CHECK  (([Status]='cancelled' OR [Status]='completed' OR [Status]='needs_info' OR [Status]='rejected' OR [Status]='approved' OR [Status]='under_review' OR [Status]='submitted' OR [Status]='draft'))
GO
ALTER TABLE [dbo].[ApplicationStatusHistory]  WITH CHECK ADD CHECK  (([ChangedByType]='system' OR [ChangedByType]='admin' OR [ChangedByType]='user'))
GO
ALTER TABLE [dbo].[ApplicationTasks]  WITH CHECK ADD CHECK  (([Status]='blocked' OR [Status]='skipped' OR [Status]='failed' OR [Status]='completed' OR [Status]='in_progress' OR [Status]='pending'))
GO
ALTER TABLE [dbo].[ApplicationTasks]  WITH CHECK ADD CHECK  (([TaskType]='biometric_verification' OR [TaskType]='data_entry' OR [TaskType]='quality_check' OR [TaskType]='final_approval' OR [TaskType]='interview' OR [TaskType]='fee_verification' OR [TaskType]='background_check' OR [TaskType]='document_verification'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([Priority]='high' OR [Priority]='medium' OR [Priority]='low'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([Type]='push' OR [Type]='in_app' OR [Type]='sms' OR [Type]='email'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='mobile_money' OR [PaymentMethod]='cash' OR [PaymentMethod]='eft' OR [PaymentMethod]='debit_card' OR [PaymentMethod]='credit_card'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentStatus]='cancelled' OR [PaymentStatus]='refunded' OR [PaymentStatus]='failed' OR [PaymentStatus]='completed' OR [PaymentStatus]='pending'))
GO
ALTER TABLE [dbo].[SupportingDocuments]  WITH CHECK ADD CHECK  (([VerificationStatus]='needs_review' OR [VerificationStatus]='rejected' OR [VerificationStatus]='verified' OR [VerificationStatus]='pending'))
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD CHECK  (([SettingType]='json' OR [SettingType]='boolean' OR [SettingType]='integer' OR [SettingType]='string'))
GO
ALTER TABLE [dbo].[UserActivityLog]  WITH CHECK ADD CHECK  (([ActionType]='cancel_application' OR [ActionType]='make_payment' OR [ActionType]='update_profile' OR [ActionType]='download_document' OR [ActionType]='upload_document' OR [ActionType]='submit_application' OR [ActionType]='view_application' OR [ActionType]='logout' OR [ActionType]='login'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddToQueue]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddToQueue]
    @ApplicationId INT,
    @Priority INT = 0,
    @SkillLevel NVARCHAR(50) = NULL,
    @ExpiryMinutes INT = NULL,
    @Success BIT OUTPUT,
    @Message NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @DocumentTypeId INT;
        
        SELECT @DocumentTypeId = DocumentTypeId
        FROM Applications WITH (UPDLOCK)
        WHERE Id = @ApplicationId;
        
        IF @DocumentTypeId IS NULL
        BEGIN
            SET @Success = 0;
            SET @Message = 'Application not found';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Check if already in queue
        IF EXISTS (SELECT 1 FROM ApplicationQueue WHERE ApplicationId = @ApplicationId)
        BEGIN
            UPDATE ApplicationQueue 
            SET 
                Priority = ISNULL(@Priority, Priority),
                RequiredSkillLevel = ISNULL(@SkillLevel, RequiredSkillLevel),
                ExpiresAt = CASE 
                    WHEN @ExpiryMinutes IS NOT NULL THEN DATEADD(MINUTE, @ExpiryMinutes, GETDATE())
                    ELSE ExpiresAt
                END,
                Status = 'queued'
            WHERE ApplicationId = @ApplicationId;
        END
        ELSE
        BEGIN
            INSERT INTO ApplicationQueue (
                ApplicationId, 
                DocumentTypeId, 
                Priority, 
                RequiredSkillLevel,
                ExpiresAt
            ) VALUES (
                @ApplicationId, 
                @DocumentTypeId, 
                ISNULL(@Priority, 0),
                @SkillLevel,
                CASE 
                    WHEN @ExpiryMinutes IS NOT NULL THEN DATEADD(MINUTE, @ExpiryMinutes, GETDATE())
                    ELSE NULL
                END
            );
        END
        
        SET @Success = 1;
        SET @Message = 'Application added to queue successfully';
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Success = 0;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignApplicationToAdmin]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AssignApplicationToAdmin]
    @ApplicationId INT,
    @AdminId INT,
    @AssignmentReason NVARCHAR(255),
    @Success BIT OUTPUT,
    @Message NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @CurrentProcessor INT;
        DECLARE @LockVersion INT;
        DECLARE @LockedUntil DATETIME2;
        DECLARE @AppStatus NVARCHAR(20);
        DECLARE @AdminMax INT;
        DECLARE @TodayCount INT;
        
        -- Check admin's daily limit
        SELECT @AdminMax = MaxDailyApplications 
        FROM Admins 
        WHERE Id = @AdminId AND IsActive = 1;
        
        SELECT @TodayCount = COUNT(*)
        FROM ApplicationAssignments
        WHERE AssignedTo = @AdminId
        AND CAST(AssignedAt AS DATE) = CAST(GETDATE() AS DATE);
        
        IF @TodayCount >= @AdminMax
        BEGIN
            SET @Success = 0;
            SET @Message = 'You have reached your daily application limit';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Get current application state with locking hint
        SELECT @CurrentProcessor = CurrentProcessorId, 
               @LockVersion = LockVersion, 
               @LockedUntil = LockedUntil, 
               @AppStatus = Status
        FROM Applications WITH (UPDLOCK, ROWLOCK)
        WHERE Id = @ApplicationId;
        
        -- Check if application is available for assignment
        IF @CurrentProcessor IS NOT NULL
        BEGIN
            SET @Success = 0;
            SET @Message = 'Application already assigned to another admin';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        ELSE IF @LockedUntil > GETDATE()
        BEGIN
            SET @Success = 0;
            SET @Message = 'Application is temporarily locked';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        ELSE IF @AppStatus NOT IN ('submitted', 'under_review', 'needs_info')
        BEGIN
            SET @Success = 0;
            SET @Message = 'Application cannot be assigned in ' + @AppStatus + ' status';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        ELSE
        BEGIN
            -- Atomic update with version check
            UPDATE Applications 
            SET 
                CurrentProcessorId = @AdminId,
                LockVersion = LockVersion + 1,
                LockedUntil = DATEADD(MINUTE, 30, GETDATE()),
                ProcessingStartedDate = ISNULL(ProcessingStartedDate, GETDATE()),
                UpdatedAt = GETDATE()
            WHERE 
                Id = @ApplicationId 
                AND CurrentProcessorId IS NULL
                AND LockVersion = @LockVersion;
            
            -- Check if update was successful
            IF @@ROWCOUNT > 0
            BEGIN
                -- Record the assignment
                INSERT INTO ApplicationAssignments (
                    ApplicationId, 
                    AssignedTo, 
                    AssignedBy, 
                    AssignmentReason,
                    AssignedAt
                ) VALUES (
                    @ApplicationId, 
                    @AdminId, 
                    @AdminId, 
                    @AssignmentReason,
                    GETDATE()
                );
                
                -- Update queue status
                UPDATE ApplicationQueue 
                SET 
                    Status = 'assigned',
                    AssignedAt = GETDATE()
                WHERE ApplicationId = @ApplicationId;
                
                -- Log the action
                INSERT INTO AdminAuditLog (
                    AdminId,
                    ActionType,
                    ApplicationId,
                    Details
                ) VALUES (
                    @AdminId,
                    'assign',
                    @ApplicationId,
                    (SELECT @AssignmentReason AS Reason FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
                );
                
                -- Update workload
                MERGE AdminWorkload AS target
                USING (SELECT @AdminId AS AdminId, CAST(GETDATE() AS DATE) AS Date) AS source
                ON (target.AdminId = source.AdminId AND target.Date = source.Date)
                WHEN MATCHED THEN
                    UPDATE SET ApplicationsAssigned = ApplicationsAssigned + 1
                WHEN NOT MATCHED THEN
                    INSERT (AdminId, Date, ApplicationsAssigned)
                    VALUES (@AdminId, CAST(GETDATE() AS DATE), 1);
                
                SET @Success = 1;
                SET @Message = 'Application assigned successfully';
                COMMIT TRANSACTION;
            END
            ELSE
            BEGIN
                SET @Success = 0;
                SET @Message = 'Application was taken by another admin. Please try again.';
                ROLLBACK TRANSACTION;
            END
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Success = 0;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CompleteTask]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CompleteTask]
    @TaskId INT,
    @AdminId INT,
    @CompletionNotes NVARCHAR(MAX),
    @Success BIT OUTPUT,
    @Message NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @ApplicationId INT;
        DECLARE @TaskStatus NVARCHAR(20);
        DECLARE @AssignedTo INT;
        DECLARE @TaskType NVARCHAR(30);
        DECLARE @PendingTasks INT;
        
        -- Lock and verify task ownership
        SELECT @ApplicationId = ApplicationId, 
               @TaskStatus = Status, 
               @AssignedTo = AssignedTo,
               @TaskType = TaskType
        FROM ApplicationTasks WITH (UPDLOCK, ROWLOCK)
        WHERE Id = @TaskId;
        
        IF @AssignedTo != @AdminId
        BEGIN
            SET @Success = 0;
            SET @Message = 'You are not assigned to this task';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        ELSE IF @TaskStatus != 'in_progress'
        BEGIN
            SET @Success = 0;
            SET @Message = 'Task cannot be completed in ' + @TaskStatus + ' status';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        ELSE
        BEGIN
            -- Complete the task
            UPDATE ApplicationTasks 
            SET 
                Status = 'completed',
                CompletedAt = GETDATE(),
                Notes = ISNULL(Notes, '') + CHAR(13) + CHAR(10) + @CompletionNotes,
                LockVersion = LockVersion + 1,
                UpdatedAt = GETDATE()
            WHERE 
                Id = @TaskId 
                AND AssignedTo = @AdminId
                AND Status = 'in_progress';
            
            IF @@ROWCOUNT > 0
            BEGIN
                -- Log completion
                INSERT INTO AdminAuditLog (
                    AdminId,
                    ActionType,
                    ApplicationId,
                    TaskId,
                    Details
                ) VALUES (
                    @AdminId,
                    'complete_task',
                    @ApplicationId,
                    @TaskId,
                    (SELECT @CompletionNotes AS Notes FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
                );
                
                -- Update workload
                UPDATE AdminWorkload 
                SET 
                    TasksCompleted = TasksCompleted + 1,
                    UpdatedAt = GETDATE()
                WHERE AdminId = @AdminId AND Date = CAST(GETDATE() AS DATE);
                
                -- Check if all tasks for this application are complete
                SELECT @PendingTasks = COUNT(*)
                FROM ApplicationTasks
                WHERE ApplicationId = @ApplicationId
                AND Status NOT IN ('completed', 'skipped');
                
                IF @PendingTasks = 0
                BEGIN
                    -- Update application status if all tasks done
                    UPDATE Applications 
                    SET 
                        Status = 'completed',
                        CompletedDate = GETDATE(),
                        LockVersion = LockVersion + 1,
                        UpdatedAt = GETDATE()
                    WHERE Id = @ApplicationId;
                    
                    -- Record status change
                    INSERT INTO ApplicationStatusHistory (
                        ApplicationId,
                        StatusFrom,
                        StatusTo,
                        ChangedBy,
                        ChangedByType,
                        TaskId,
                        Comments
                    ) VALUES (
                        @ApplicationId,
                        'under_review',
                        'completed',
                        @AdminId,
                        'admin',
                        @TaskId,
                        'All tasks completed'
                    );
                    
                    -- Notify user
                    INSERT INTO Notifications (
                        UserId,
                        ApplicationId,
                        Type,
                        Title,
                        Message,
                        Priority
                    ) 
                    SELECT 
                        UserId,
                        @ApplicationId,
                        'in_app',
                        'Application Completed',
                        'Your application has been processed successfully',
                        'high'
                    FROM Applications WHERE Id = @ApplicationId;
                END
                
                SET @Success = 1;
                SET @Message = 'Task completed successfully';
                COMMIT TRANSACTION;
            END
            ELSE
            BEGIN
                SET @Success = 0;
                SET @Message = 'Failed to complete task';
                ROLLBACK TRANSACTION;
            END
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Success = 0;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PullNextApplicationFromQueue]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_PullNextApplicationFromQueue]
    @AdminId INT,
    @SkillLevel NVARCHAR(50),
    @ApplicationId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @QueueId INT;
        DECLARE @AppId INT;
        DECLARE @DocTypeId INT;
        
        -- Find the next available application using table hint for locking
        SELECT TOP 1 @QueueId = Id, @AppId = ApplicationId, @DocTypeId = DocumentTypeId
        FROM ApplicationQueue WITH (UPDLOCK, ROWLOCK, READPAST)
        WHERE 
            Status = 'queued'
            AND (@SkillLevel IS NULL OR RequiredSkillLevel = @SkillLevel)
            AND (ExpiresAt IS NULL OR ExpiresAt > GETDATE())
        ORDER BY Priority DESC, QueuedAt ASC;
        
        IF @QueueId IS NOT NULL
        BEGIN
            -- Update queue status
            UPDATE ApplicationQueue 
            SET 
                Status = 'processing',
                AssignedAt = GETDATE()
            WHERE Id = @QueueId;
            
            -- Assign application to admin
            DECLARE @Success BIT;
            DECLARE @Message NVARCHAR(255);
            
            EXEC sp_AssignApplicationToAdmin 
                @AppId, 
                @AdminId, 
                'Auto-assigned from queue',
                @Success OUTPUT,
                @Message OUTPUT;
            
            IF @Success = 1
            BEGIN
                SET @ApplicationId = @AppId;
                COMMIT TRANSACTION;
            END
            ELSE
            BEGIN
                -- Rollback queue update if assignment failed
                UPDATE ApplicationQueue 
                SET 
                    Status = 'queued',
                    AssignedAt = NULL
                WHERE Id = @QueueId;
                
                ROLLBACK TRANSACTION;
                SET @ApplicationId = NULL;
            END
        END
        ELSE
        BEGIN
            COMMIT TRANSACTION;
            SET @ApplicationId = NULL;
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @ApplicationId = NULL;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReleaseApplication]    Script Date: 2026/02/13 15:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReleaseApplication]
    @ApplicationId INT,
    @AdminId INT,
    @ReleaseReason NVARCHAR(255),
    @Success BIT OUTPUT,
    @Message NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @DocumentTypeId INT;
        
        -- Get document type for queue
        SELECT @DocumentTypeId = DocumentTypeId
        FROM Applications 
        WHERE Id = @ApplicationId;
        
        -- Verify admin owns this application and release it atomically
        UPDATE Applications 
        SET 
            CurrentProcessorId = NULL,
            LockVersion = LockVersion + 1,
            LockedUntil = NULL,
            UpdatedAt = GETDATE()
        WHERE 
            Id = @ApplicationId 
            AND CurrentProcessorId = @AdminId;
        
        IF @@ROWCOUNT > 0
        BEGIN
            -- Record the unassignment
            UPDATE ApplicationAssignments 
            SET 
                UnassignedAt = GETDATE(),
                UnassignedBy = @AdminId,
                UnassignedReason = @ReleaseReason
            WHERE 
                ApplicationId = @ApplicationId 
                AND AssignedTo = @AdminId
                AND UnassignedAt IS NULL;
            
            -- Add back to queue
            IF NOT EXISTS (SELECT 1 FROM ApplicationQueue WHERE ApplicationId = @ApplicationId)
            BEGIN
                INSERT INTO ApplicationQueue (ApplicationId, DocumentTypeId, Status, QueuedAt)
                VALUES (@ApplicationId, @DocumentTypeId, 'queued', GETDATE());
            END
            ELSE
            BEGIN
                UPDATE ApplicationQueue 
                SET 
                    Status = 'queued',
                    QueuedAt = GETDATE(),
                    AssignedAt = NULL
                WHERE ApplicationId = @ApplicationId;
            END
            
            -- Log the release
            INSERT INTO AdminAuditLog (
                AdminId,
                ActionType,
                ApplicationId,
                Details
            ) VALUES (
                @AdminId,
                'unassign',
                @ApplicationId,
                (SELECT @ReleaseReason AS Reason FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
            );
            
            SET @Success = 1;
            SET @Message = 'Application released successfully';
            COMMIT TRANSACTION;
        END
        ELSE
        BEGIN
            SET @Success = 0;
            SET @Message = 'You do not own this application or it has already been reassigned';
            ROLLBACK TRANSACTION;
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Success = 0;
        SET @Message = ERROR_MESSAGE();
    END CATCH
END
GO
USE [master]
GO
